* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Todo */
body {
    font-family: "PT Serif", serif;
    background-color: #222222;
    color: #FFFFFF;
    margin: 0;
    overflow-x: hidden;
}
.meu-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    padding: 30px 0;
    background-color: #282828;
    margin-bottom: 80px;
}
header .meu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 30px;
    font-weight: bold;
}
.header-direita {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Header - Menu */
.menu {
    display: flex;
    gap: 70px;
    list-style: none;
}
.menu a {
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
}

/* Header - Componentes */
.carrinho {
    height: 28px;
    cursor: pointer;
}
.carrinho-container {
    position: relative;
    background-color: #FFF;
    border-radius: 30%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contador-carrinho {
    position: absolute;
    top: 20px;
    right: 1px;

    background-color: #3B82F6;
    font-size: 13px;
    font-weight: bold;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* Banner de consoles */
.hero {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.hero .meu-container {
    text-align: center;
    margin-left: 80px;
}
.hero h2 {
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 80px;
}
.button {
    padding: 12px 30px;
    background-color: #3B82F6;
    color: #FFFFFF;
    border-radius: 25px;
    text-decoration: none;
}
.hero .imagem img {
    margin-right: 90px;
    width: 600px;
    height: 500px;
}

/* Banner de PCs Gamer */
.hero--invertido {
    flex-direction: row-reverse;
}

/* Carrossel de Celulares */
.carrossel {
    padding: 20px 0;
}
.carrossel h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}
.carrossel-container {
    display: flex;
    gap: 40px;
    justify-content: center;
}
.card {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 35px;
    width: 275px;
    height: 500px;
    text-align: center;
}
.card-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.card-imagem img {
    width: 100%;
    height: auto;
}
.card h3 {
    font-size: 22px;
    margin: 15px 0;
    color: #222222;
}
.card-preco {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: left;
    
}
.preco-principal {
    display: flex;
    font-size: 20px;
    font-weight: 1000;
    color: #3B82F6;
}
.preco-principal .desconto {
    color: #ff0000;
    font-weight: 600;
    margin-left: 10px;
}
.preco-antigo {
    display: flex;
    text-decoration: line-through;
    color: #828282;
}
.botao-carrinho {
    margin-top: 25px;
    background-color: #3B82F6;
    color: white;
    border: none;
    border-bottom: 200px;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
}

/* Catalogo de Jogos */
.catalogo {
    padding: 150px;
}
.catalogo h2 { 
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}
.produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.jogo {
    display: block;
}
.jogo img {
    width: 100%;
    height: auto;
    display: block;
}

/* Rodapé */
.footer {
    background-color: #282828;
}
.footer-container {
    display: flex;
    padding: 30px;
    justify-content: space-around;
}
.footer-logo {
    display: flex;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.footer-section h3 {
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
}
.footer-section ul {
    list-style: none;
}
.footer-section li {
    margin-top: 5px;
}
.footer-section a {
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
    font-size: 15px;
}

/* Alterando clsses para tirar interferência com o Bootstrap*/
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}
h1, h2, h3 {
  font-weight: 700;
}